@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Italic.woff2") format("woff2"), url("../fonts/Jost-Italic.woff") format("woff"), url("../fonts/Jost-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff"), url("../fonts/Jost-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Jost-SemiBoldItalic.woff") format("woff"), url("../fonts/Jost-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-BlackItalic.woff2") format("woff2"), url("../fonts/Jost-BlackItalic.woff") format("woff"), url("../fonts/Jost-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-SemiBold.woff2") format("woff2"), url("../fonts/Jost-SemiBold.woff") format("woff"), url("../fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Jost-ExtraLightItalic.woff") format("woff"), url("../fonts/Jost-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraLight.woff2") format("woff2"), url("../fonts/Jost-ExtraLight.woff") format("woff"), url("../fonts/Jost-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Thin.woff2") format("woff2"), url("../fonts/Jost-Thin.woff") format("woff"), url("../fonts/Jost-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraBold.woff2") format("woff2"), url("../fonts/Jost-ExtraBold.woff") format("woff"), url("../fonts/Jost-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-BoldItalic.woff2") format("woff2"), url("../fonts/Jost-BoldItalic.woff") format("woff"), url("../fonts/Jost-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff"), url("../fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Jost-ExtraBoldItalic.woff") format("woff"), url("../fonts/Jost-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ThinItalic.woff2") format("woff2"), url("../fonts/Jost-ThinItalic.woff") format("woff"), url("../fonts/Jost-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Light.woff2") format("woff2"), url("../fonts/Jost-Light.woff") format("woff"), url("../fonts/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Black.woff2") format("woff2"), url("../fonts/Jost-Black.woff") format("woff"), url("../fonts/Jost-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff"), url("../fonts/Jost-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-LightItalic.woff2") format("woff2"), url("../fonts/Jost-LightItalic.woff") format("woff"), url("../fonts/Jost-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-MediumItalic.woff2") format("woff2"), url("../fonts/Jost-MediumItalic.woff") format("woff"), url("../fonts/Jost-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Joti One";
  src: url("../fonts/JotiOne-Regular.woff2") format("woff2"), url("../fonts/JotiOne-Regular.woff") format("woff"), url("../fonts/JotiOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
}

body {
  overscroll-behavior: none;
  margin-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header {
  display: flex;
  justify-content: center;
}
body header div {
  background-image: url(../image/logo.svg);
  width: 92px;
  height: 88px;
}
body header h1 {
  font-family: "Joti One";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  letter-spacing: 0.03em;
  width: 446px;
  height: 79px;
  margin-left: 33px;
  color: #402922;
}
body main .inp_forms {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
}
body main .inp_forms .inp {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: none;
  width: 753px;
  height: 63px;
  border: 5px solid #815F34;
  border-radius: 15px;
  background: white;
  margin-bottom: 13px;
  margin-right: 49px;
  padding-left: 15px;
}
body main .inp_forms div {
  display: flex;
  align-items: center;
}
body main .inp_forms div .add {
  width: 619px;
  margin-bottom: 0;
  margin-right: 23px;
}
body main .inp_forms div .btn {
  width: 109px;
  height: 63px;
  border: 5px solid #815F34;
  border-radius: 15px;
  background: white;
}
body main .task-block {
  display: flex;
  margin-top: 38px;
  align-items: center;
  margin-bottom: 38px;
}
body main .task-block .task-list {
  width: 753px;
  height: 509px;
  border: 5px solid #815F34;
  border-radius: 5px;
  background: white;
  margin-right: 20px;
  padding: 36px;
  display: flex;
  overflow: scroll;
  align-self: center;
  box-sizing: border-box;
  overflow-x: hidden;
}
body main .task-block .task-list::-webkit-scrollbar {
  width: 15px;
  background: white;
  border-radius: 10px;
  padding-right: 27px;
}
body main .task-block .task-list::-webkit-scrollbar-thumb {
  background-color: #C8B399;
  border-radius: 9em;
}
body main .task-block .task-list::-webkit-scrollbar-thumb:hover {
  background-color: #b4874d;
}
body main .task-block .task-list .task-board {
  padding-left: 0;
}
body main .task-block .task-list .task-board .li {
  display: flex;
  list-style-type: none;
}
body main .task-block .task-list .task-board .li .task {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: none;
  width: 427px;
  height: 75px;
  border: 5px solid #815F34;
  border-radius: 10px;
  background: #F6F6F5;
  display: inline-block;
  border: 0px solid white;
  border-left: 15px solid #A13822;
  margin: 0 24px 43px 0;
}
body main .task-block .task-list .task-board .li .task.green {
  border-left: 15px solid #01504A;
}
body main .task-block .task-list .task-board .li .btn_del {
  width: 75px;
  height: 75px;
  border: 5px solid #815F34;
  border-radius: 10px;
  background: #F6F6F5;
  border: none;
  padding: 15px;
  margin-left: 24px;
}
body main .task-block .task-list .task-board .li .check_input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
body main .task-block .task-list .task-board .li .check_box {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-image: url(../image/check_none.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
body main .task-block .task-list .task-board .li .check_input:checked + .check_box {
  background: url(../image/check_box.svg);
}
body main .task-block .img_vibes {
  background-image: url(../image/bg-disp-tasks.png);
  border-radius: 5px;
  width: 173px;
  height: 516px;
}
body main .completing_task {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .completing_task .progress {
  width: 946px;
  height: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
body main .completing_task p {
  font-family: "Joti One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
  margin-top: 13px;
}

@media (max-width: 1023.99px) {
  body main .inp_forms {
    font-size: 29px;
  }
  body main .inp_forms .inp {
    width: 619px;
  }
  body main .inp_forms div .add {
    width: 500px;
  }
  body main .inp_forms div .btn {
    width: 95px;
  }
  body main .task-block .task-list {
    width: 619px;
    padding: 25px;
  }
  body main .task-block .task-list::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    padding-right: 22px;
  }
  body main .task-block .task-list .task-board .li .task {
    width: 386px;
    height: 70px;
    margin: 0px 18px 30px 0;
  }
  body main .task-block .task-list .task-board .li .check_box {
    width: 70px;
    height: 70px;
    margin: 0;
    background-image: url(../image/cb.svg);
  }
  body main .task-block .task-list .task-board .li .btn_del {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin-left: 18px;
  }
  body main .task-block .task-list .task-board .li .check_input:checked + .check_box {
    background-image: url(../image/cb_check.svg);
  }
  body main .task-block .img_vibes {
    height: 509px;
  }
  body main .completing_task .progress {
    width: 814px;
  }
}
@media (min-width: 720px) and (max-width: 949.99px) {
  body main .inp_forms .inp {
    width: 600px;
    font-size: 28px;
  }
  body main .inp_forms div .add {
    width: 503px;
    margin-right: 15px;
  }
  body main .inp_forms div .btn {
    width: 85px;
  }
  body main .task-block .task-list {
    width: 545px;
    padding: 20px;
  }
  body main .task-block .task-list .task-board .li .task {
    width: 352px;
    height: 60px;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 20px;
  }
  body main .task-block .task-list .task-board .li .btn_del {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-left: 10px;
  }
  body main .task-block .task-list .task-board .li .btn_del img {
    width: 38px;
    height: 38px;
    margin: 0;
  }
  body main .task-block .task-list .task-board .li .check_box {
    width: 60px;
    height: 60px;
    margin: 0;
    background-image: url(../image/cb60.svg);
  }
  body main .task-block .task-list .task-board .li .check_input:checked + .check_box {
    background-image: url(../image/cb601.svg);
  }
  body main .task-block .img_vibes {
    height: 500px;
    width: 134px;
  }
  body main .completing_task .progress {
    width: 685px;
  }
}
@media (max-width: 719.99px) {
  body {
    background: url(../image/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  body header h1 {
    color: #e8c190;
  }
  body header div {
    background-image: url(../image/logo_media.svg);
  }
  body main .inp_forms {
    margin-top: 38px;
  }
  body main .inp_forms .inp {
    width: 580px;
    border-color: #b47364;
    margin-right: 0;
    font-size: 25px;
  }
  body main .inp_forms div .add {
    width: 490px;
    margin-right: 10px;
  }
  body main .inp_forms div .btn {
    width: 81px;
    border-color: #b47364;
  }
  body main .task-block {
    justify-content: center;
  }
  body main .task-block .task-list {
    width: 580px;
    margin: 0;
    border-color: #b47364;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
  }
  body main .task-block .task-list::-webkit-scrollbar {
    background: none;
  }
  body main .task-block .task-list .task-board .li .task {
    width: 390px;
    height: 60px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  body main .task-block .task-list .task-board .li .btn_del {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-left: 10px;
  }
  body main .task-block .task-list .task-board .li .btn_del img {
    width: 38px;
    height: 38px;
    margin: 0;
  }
  body main .task-block .task-list .task-board .li .check_box {
    width: 60px;
    height: 60px;
    margin: 0;
    background-image: url(../image/cb60.svg);
  }
  body main .task-block .task-list .task-board .li .check_input:checked + .check_box {
    background-image: url(../image/cb601.svg);
  }
  body main .task-block .img_vibes {
    display: none;
  }
  body main .completing_task .progress {
    width: 580px;
  }
  body main .completing_task p {
    margin-bottom: 100px;
    color: #e8c090;
  }
}
@media (min-width: 481px) and (max-width: 599.99px) {
  body header h1 {
    font-size: 54px;
    width: 395px;
    padding-left: 20px;
    margin: 0;
  }
  body header div {
    width: 74px;
    height: 83px;
    margin: 0;
  }
  body main .inp_forms .inp {
    width: 440px;
    height: 55px;
  }
  body main .inp_forms div .add {
    width: 374px;
  }
  body main .inp_forms div .btn {
    width: 55px;
    height: 55px;
    padding: 5px;
  }
  body main .inp_forms div .btn img {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  body main .task-block .task-list {
    width: 440px;
    padding: 15px;
  }
  body main .task-block .task-list .task-board .li .task {
    width: 250px;
  }
  body main .completing_task .progress {
    width: 440px;
  }
}
@media (max-width: 480.99px) {
  body header h1 {
    width: 269px;
    font-size: 40px;
    margin-left: 10px;
  }
  body header div {
    width: 65px;
    height: 65px;
    margin: 0;
    background-image: url(../image/logo65.svg);
    background-repeat: no-repeat;
  }
  body main .inp_forms {
    margin-top: 20px;
  }
  body main .inp_forms .inp {
    width: 320px;
    height: 40px;
    border: 3px solid #b47364;
    font-size: 18px;
  }
  body main .inp_forms div .add {
    width: 270px;
  }
  body main .inp_forms div .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border: 3px solid #b47364;
  }
  body main .inp_forms div .btn img {
    width: 24px;
    height: 24px;
    margin: 0;
  }
  body main .task-block .task-list {
    width: 320px;
    height: 270px;
    padding: 10px;
    border: 3px solid #b47364;
  }
  body main .task-block .task-list .task-board .li .task {
    width: 190px;
    height: 40px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  body main .task-block .task-list .task-board .li .check_box {
    width: 40px;
    height: 40px;
    margin: 0;
    background-image: url(../image/cb401.svg);
  }
  body main .task-block .task-list .task-board .li .check_input:checked + .check_box {
    background-image: url(../image/cb40.svg);
  }
  body main .task-block .task-list .task-board .li .btn_del {
    width: 40px;
    height: 40px;
    padding: 0;
  }
  body main .task-block .task-list .task-board .li .btn_del img {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  body main .completing_task .progress {
    width: 320px;
    height: 20px;
    margin: 0px;
  }
  body main .completing_task .progress p {
    font-size: 30px;
  }
}
@media (max-width: 329.99px) {
  body header h1 {
    width: 210px;
    height: 45px;
    margin: 0;
    margin-left: 10px;
    font-size: 28px;
    line-height: 49px;
  }
  body header div {
    width: 45px;
    height: 45px;
    margin: 0;
    background-image: url(../image/logo45.svg);
    background-repeat: no-repeat;
  }
  body main .inp_forms {
    margin-top: 25px;
  }
  body main .inp_forms .inp {
    width: 260px;
    height: 45px;
    padding: 0px;
    padding-left: 9px;
    font-size: 18px;
    border-width: 3px;
  }
  body main .inp_forms div .add {
    width: 200px;
  }
  body main .inp_forms div .btn {
    width: 45px;
    height: 45px;
    padding: 0;
    border-width: 3px;
  }
  body main .inp_forms div .btn img {
    width: 25px;
    height: 25px;
    margin: 0;
  }
  body main .task-block .task-list {
    border-width: 3px;
    width: 260px;
    height: 267px;
    padding: 4px;
  }
  body main .task-block .task-list::-webkit-scrollbar {
    width: 5px;
  }
  body main .task-block .task-list .task-board .li .task {
    width: 150px;
    height: 40px;
    margin: 0;
    margin-right: 5px;
    border-left-width: 10px;
    margin-bottom: 13px;
  }
  body main .task-block .task-list .task-board .li .task.green {
    border-left-width: 10px;
  }
  body main .task-block .task-list .task-board .li .btn_del {
    width: 40px;
    height: 40px;
    margin: 0;
    margin-left: 5px;
  }
  body main .task-block .task-list .task-board .li .btn_del img {
    width: 30px;
    height: 30px;
    padding: 0;
  }
  body main .completing_task .progress {
    width: 260px;
  }
  body main .completing_task p {
    font-size: 24px;
    margin-top: 0;
  }
}

/*# sourceMappingURL=index.css.map */
