@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Italic.woff2") format("woff2"), url("../fonts/Jost-Italic.woff") format("woff"), url("../fonts/Jost-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff"), url("../fonts/Jost-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Jost-SemiBoldItalic.woff") format("woff"), url("../fonts/Jost-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-BlackItalic.woff2") format("woff2"), url("../fonts/Jost-BlackItalic.woff") format("woff"), url("../fonts/Jost-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-SemiBold.woff2") format("woff2"), url("../fonts/Jost-SemiBold.woff") format("woff"), url("../fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Jost-ExtraLightItalic.woff") format("woff"), url("../fonts/Jost-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraLight.woff2") format("woff2"), url("../fonts/Jost-ExtraLight.woff") format("woff"), url("../fonts/Jost-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Thin.woff2") format("woff2"), url("../fonts/Jost-Thin.woff") format("woff"), url("../fonts/Jost-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraBold.woff2") format("woff2"), url("../fonts/Jost-ExtraBold.woff") format("woff"), url("../fonts/Jost-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-BoldItalic.woff2") format("woff2"), url("../fonts/Jost-BoldItalic.woff") format("woff"), url("../fonts/Jost-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff"), url("../fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Jost-ExtraBoldItalic.woff") format("woff"), url("../fonts/Jost-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-ThinItalic.woff2") format("woff2"), url("../fonts/Jost-ThinItalic.woff") format("woff"), url("../fonts/Jost-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Light.woff2") format("woff2"), url("../fonts/Jost-Light.woff") format("woff"), url("../fonts/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Black.woff2") format("woff2"), url("../fonts/Jost-Black.woff") format("woff"), url("../fonts/Jost-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff"), url("../fonts/Jost-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-LightItalic.woff2") format("woff2"), url("../fonts/Jost-LightItalic.woff") format("woff"), url("../fonts/Jost-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-MediumItalic.woff2") format("woff2"), url("../fonts/Jost-MediumItalic.woff") format("woff"), url("../fonts/Jost-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Joti One";
  src: url("../fonts/JotiOne-Regular.woff2") format("woff2"), url("../fonts/JotiOne-Regular.woff") format("woff"), url("../fonts/JotiOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
}

body {
  margin-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header {
  display: flex;
  justify-content: center;
}
body header h1 {
  font-family: "Joti One";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  letter-spacing: 0.03em;
  width: 446px;
  height: 79px;
  margin-left: 33px;
}
body main .inp_forms {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
}
body main .inp_forms .inp {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: none;
  width: 753px;
  height: 63px;
  border: 5px solid #815F34;
  border-radius: 15px;
  background: white;
  margin-bottom: 13px;
  margin-right: 49px;
  padding-left: 15px;
}
body main .inp_forms div {
  display: flex;
  align-items: center;
}
body main .inp_forms div .add {
  width: 619px;
  margin-bottom: 0;
  margin-right: 23px;
}
body main .inp_forms div .btn {
  width: 109px;
  height: 63px;
  border: 5px solid #815F34;
  border-radius: 15px;
  background: white;
}
body main .task-block {
  display: flex;
  margin-top: 38px;
  align-items: center;
  margin-bottom: 38px;
}
body main .task-block .task-list {
  width: 753px;
  height: 509px;
  border: 5px solid #815F34;
  border-radius: 5px;
  background: white;
  margin-right: 20px;
  padding: 36px;
  display: flex;
  overflow: scroll;
  align-self: center;
  box-sizing: border-box;
  overflow-x: hidden;
}
body main .task-block .task-list::-webkit-scrollbar {
  width: 15px;
  background: white;
  border-radius: 10px;
  padding-right: 27px;
}
body main .task-block .task-list::-webkit-scrollbar-thumb {
  background-color: #C8B399;
  border-radius: 9em;
}
body main .task-block .task-list::-webkit-scrollbar-thumb:hover {
  background-color: #b4874d;
}
body main .task-block .task-list .task-board {
  padding-left: 0;
}
body main .task-block .task-list .task-board .li {
  display: flex;
  list-style-type: none;
}
body main .task-block .task-list .task-board .li .task {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: none;
  width: 427px;
  height: 75px;
  border: 5px solid #815F34;
  border-radius: 10px;
  background: #F6F6F5;
  display: inline-block;
  border: 0px solid white;
  border-left: 15px solid #A13822;
  margin: 0 24px 43px 0;
}
body main .task-block .task-list .task-board .li .task.green {
  border-left: 15px solid #01504A;
}
body main .task-block .task-list .task-board .li .btn_del {
  width: 75px;
  height: 75px;
  border: 5px solid #815F34;
  border-radius: 10px;
  background: #F6F6F5;
  border: none;
  padding: 15px;
  margin-left: 24px;
}
body main .task-block .task-list .task-board .li .check_input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
body main .task-block .task-list .task-board .li .check_box {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-image: url(/image/check_none.svg);
}
body main .task-block .task-list .task-board .li .check_input:checked + .check_box {
  background: url(/image/check_box.svg);
}
body main .task-block .img_vibes {
  background-image: url("/image/bg-disp-tasks.png");
  border-radius: 5px;
  width: 173px;
  height: 516px;
}
body main .completing_task {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .completing_task .progress {
  width: 946px;
  height: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
body main .completing_task p {
  font-family: "Joti One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
  margin-top: 13px;
}

/*# sourceMappingURL=index.css.map */
