=whp($widht, $height, $padding)
    width: $widht
    height: $height
    padding: $padding

=whm($widht, $height, $margin)
    width: $widht
    height: $height
    margin: $margin
    
@media (max-width: 1023.99px)
    body
        main
            .inp_forms
                font-size: 29px
                .inp 
                    width: 619px
                div 
                    .add 
                        width: 500px
                    .btn 
                        width: 95px
            .task-block
                .task-list 
                    width: 619px
                    padding: 25px
                    &::-webkit-scrollbar 
                        width: 10px
                        border-radius: 5px
                        padding-right: 22px 
                    .task-board
                        .li
                            .task 
                                +whm(386px, 70px, 0px 18px 30px 0)
                            .check_box 
                                +whm(70px, 70px, 0)
                                bbackground-image: url('data:image/svg+xml,%3Csvg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="70" height="70" rx="35" fill="%23F7F6F5"/%3E%3Cpath d="M21.1843 50.2564C20.4475 50.2564 19.8027 49.9872 19.2501 49.4487C18.6975 48.9103 18.4211 48.2821 18.4211 47.5641V20.641C18.4211 19.9231 18.6975 19.2949 19.2501 18.7564C19.8027 18.218 20.4475 17.9487 21.1843 17.9487H48.8159C49.5527 17.9487 50.1975 18.218 50.7501 18.7564C51.3027 19.2949 51.579 19.9231 51.579 20.641V47.5641C51.579 48.2821 51.3027 48.9103 50.7501 49.4487C50.1975 49.9872 49.5527 50.2564 48.8159 50.2564H21.1843ZM21.1843 47.5641H48.8159V20.641H21.1843V47.5641Z" fill="%2301504A"/%3E%3C/svg%3E')
                            .btn_del
                                +whp(70px, 70px, 10px)
                                margin-left: 18px
                            .check_input:checked+.check_box 
                                background-image: url('data:image/svg+xml,%3Csvg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="70" height="70" rx="35" fill="%23F7F6F5"/%3E%3Cpath d="M31.7728 42.1346L44.9092 29.1667L42.9546 27.2372L31.7728 38.2756L26.3637 32.9359L24.4092 34.8654L31.7728 42.1346ZM20.9092 51.1539C20.1819 51.1539 19.5455 50.8846 19.0001 50.3462C18.4546 49.8077 18.1819 49.1795 18.1819 48.4615V21.5385C18.1819 20.8205 18.4546 20.1923 19.0001 19.6539C19.5455 19.1154 20.1819 18.8462 20.9092 18.8462H48.1819C48.9092 18.8462 49.5455 19.1154 50.091 19.6539C50.6364 20.1923 50.9092 20.8205 50.9092 21.5385V48.4615C50.9092 49.1795 50.6364 49.8077 50.091 50.3462C49.5455 50.8846 48.9092 51.1539 48.1819 51.1539H20.9092ZM20.9092 48.4615H48.1819V21.5385H20.9092V48.4615Z" fill="%2301504A"/%3E%3C/svg%3E')
                .img_vibes 
                    height: 509px
            .completing_task 
                .progress
                    width: 814px

@media (min-width: 720px) and (max-width: 949.99px)
    body
        main
            .inp_forms 
                .inp
                    width: 600px
                    font-size: 28px  
                div 
                    .add
                        width: 503px
                        margin-right: 15px
                    .btn 
                        width: 85px
            .task-block
                .task-list 
                    width: 545px
                    padding: 20px
                    .task-board
                        .li
                            .task 
                                +whm(352px, 60px, 0)
                                margin-right: 15px
                                margin-bottom: 20px
                            .btn_del
                                +whp(60px, 60px, 5px)
                                margin-left: 10px
                                img 
                                    +whm(38px, 38px, 0)
                            .check_box 
                                +whm(60px, 60px, 0)
                                background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='60' height='60' rx='30' fill='%23F7F6F5'/%3E%3Cpath d='M18.1578 43.0769C17.5263 43.0769 16.9736 42.8462 16.5 42.3846C16.0263 41.9231 15.7894 41.3846 15.7894 40.7692V17.6923C15.7894 17.0769 16.0263 16.5385 16.5 16.0769C16.9736 15.6154 17.5263 15.3846 18.1578 15.3846H41.8421C42.4736 15.3846 43.0263 15.6154 43.5 16.0769C43.9736 16.5385 44.2105 17.0769 44.2105 17.6923V40.7692C44.2105 41.3846 43.9736 41.9231 43.5 42.3846C43.0263 42.8462 42.4736 43.0769 41.8421 43.0769H18.1578ZM18.1578 40.7692H41.8421V17.6923H18.1578V40.7692Z' fill='%2301504A'/%3E%3C/svg%3E")
                            .check_input:checked+.check_box 
                                background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='60' height='60' rx='30' fill='%23F7F6F5'/%3E%3Cpath d='M27.2337 36.1154L38.4934 25L36.8181 23.3461L27.2337 32.8077L22.5973 28.2308L20.922 29.8846L27.2337 36.1154ZM17.922 43.8461C17.2986 43.8461 16.7532 43.6154 16.2856 43.1538C15.8181 42.6923 15.5844 42.1538 15.5844 41.5385V18.4615C15.5844 17.8461 15.8181 17.3077 16.2856 16.8461C16.7532 16.3846 17.2986 16.1538 17.922 16.1538H41.2986C41.922 16.1538 42.4675 16.3846 42.935 16.8461C43.4025 17.3077 43.6363 17.8461 43.6363 18.4615V41.5385C43.6363 42.1538 43.4025 42.6923 42.935 43.1538C42.4675 43.6154 41.922 43.8461 41.2986 43.8461H17.922ZM17.922 41.5385H41.2986V18.4615H17.922V41.5385Z' fill='%2301504A'/%3E%3C/svg%3E")
                .img_vibes 
                    height: 500px
                    width: 134px
            .completing_task 
                    .progress
                        width: 685px

@media (max-width: 719.99px)
    body
        background: url(../image/bg.jpeg)
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        background-attachment: fixed
        header
            h1 
                color: #e8c190
            div
                background-image: url(../image/logo_media.svg)
        main
            .inp_forms 
                margin-top: 38px
                .inp 
                    width: 580px
                    border-color:#b47364
                    margin-right: 0
                    font-size: 25px
                div 
                    .add
                        width: 490px
                        margin-right: 10px
                    .btn 
                        width: 81px
                        border-color:#b47364
            .task-block 
                justify-content: center
                .task-list 
                    width: 580px
                    margin: 0
                    border-color:#b47364
                    padding: 20px
                    background: rgba(255, 255, 255, 0.7)
                    &::-webkit-scrollbar
                        background: none        
                    .task-board
                        .li
                            .task 
                                +whm(390px, 60px, 0)
                                margin-right: 10px
                                margin-bottom: 20px
                            .btn_del
                                +whp(60px, 60px, 5px)
                                margin-left: 10px
                                img 
                                    +whm(38px, 38px, 0)
                            .check_box 
                                +whm(60px, 60px, 0)
                                background-image: url('data:image/svg+xml,%3Csvg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="60" height="60" rx="30" fill="%23F7F6F5"/%3E%3Cpath d="M18.1578 43.0769C17.5263 43.0769 16.9736 42.8462 16.5 42.3846C16.0263 41.9231 15.7894 41.3846 15.7894 40.7692V17.6923C15.7894 17.0769 16.0263 16.5385 16.5 16.0769C16.9736 15.6154 17.5263 15.3846 18.1578 15.3846H41.8421C42.4736 15.3846 43.0263 15.6154 43.5 16.0769C43.9736 16.5385 44.2105 17.0769 44.2105 17.6923V40.7692C44.2105 41.3846 43.9736 41.9231 43.5 42.3846C43.0263 42.8462 42.4736 43.0769 41.8421 43.0769H18.1578ZM18.1578 40.7692H41.8421V17.6923H18.1578V40.7692Z" fill="%2301504A"/%3E%3C/svg%3E')
                            .check_input:checked+.check_box 
                                background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='60' height='60' rx='30' fill='%23F7F6F5'/%3E%3Cpath d='M27.2337 36.1154L38.4934 25L36.8181 23.3461L27.2337 32.8077L22.5973 28.2308L20.922 29.8846L27.2337 36.1154ZM17.922 43.8461C17.2986 43.8461 16.7532 43.6154 16.2856 43.1538C15.8181 42.6923 15.5844 42.1538 15.5844 41.5385V18.4615C15.5844 17.8461 15.8181 17.3077 16.2856 16.8461C16.7532 16.3846 17.2986 16.1538 17.922 16.1538H41.2986C41.922 16.1538 42.4675 16.3846 42.935 16.8461C43.4025 17.3077 43.6363 17.8461 43.6363 18.4615V41.5385C43.6363 42.1538 43.4025 42.6923 42.935 43.1538C42.4675 43.6154 41.922 43.8461 41.2986 43.8461H17.922ZM17.922 41.5385H41.2986V18.4615H17.922V41.5385Z' fill='%2301504A'/%3E%3C/svg%3E")
                .img_vibes
                    display: none
            .completing_task 
                .progress
                    width: 580px
                p 
                    margin-bottom: 100px
                    color: #e8c090
@media (min-width: 481px) and (max-width: 599.99px)
    body
        header
            h1
                font-size: 54px
                width: 395px
                padding-left: 20px
                margin: 0
            div
                +whm(74px, 83px, 0)
        main
            .inp_forms
                .inp
                    width: 440px
                    height: 55px
                div
                    .add
                        width: 374px
                    .btn
                        +whp(55px, 55px, 5px)
                        img 
                            +whm(30px, 30px, 0)
            .task-block
                .task-list 
                    width: 440px
                    padding: 15px
                    .task-board
                        .li
                            .task
                                width: 250px   
            .completing_task 
                .progress
                    width: 440px
@media  (max-width: 480.99px)
    body 
        header
            h1 
                width: 269px
                font-size: 40px
                margin-left: 10px
            div 
                +whm(65px, 65px, 0)
                background-image: url(../image/logo65.svg)
                background-repeat: no-repeat
        main
            .inp_forms
                margin-top: 20px
                .inp
                    width: 320px
                    height: 40px
                    border: 3px solid #b47364
                    font-size: 18px
                div
                    .add
                        width: 270px
                    .btn
                        +whp(40px, 40px, 0)
                        border: 3px solid #b47364
                        img
                            +whm(24px, 24px, 0)
            .task-block
                .task-list
                    +whp(320px, 270px, 10px)
                    border: 3px solid #b47364
                    .task-board
                        .li 
                            .task
                                width: 190px
                                height: 40px
                                font-size: 14px
                                margin-bottom: 10px
                            .check_box 
                                +whm(40px, 40px, 0)
                                background-image: url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="40" height="40" rx="20" fill="%23F7F6F5"/%3E%3Cpath d="M12.1052 28.7179C11.6841 28.7179 11.3157 28.5641 10.9999 28.2564C10.6841 27.9487 10.5262 27.5897 10.5262 27.1795V11.7949C10.5262 11.3846 10.6841 11.0256 10.9999 10.7179C11.3157 10.4103 11.6841 10.2564 12.1052 10.2564H27.8947C28.3157 10.2564 28.6841 10.4103 28.9999 10.7179C29.3157 11.0256 29.4736 11.3846 29.4736 11.7949V27.1795C29.4736 27.5897 29.3157 27.9487 28.9999 28.2564C28.6841 28.5641 28.3157 28.7179 27.8947 28.7179H12.1052ZM12.1052 27.1795H27.8947V11.7949H12.1052V27.1795Z" fill="%2301504A"/%3E%3C/svg%3E')
                            .check_input:checked+.check_box 
                                background-image: url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="40" height="40" rx="20" fill="%23F7F6F5"/%3E%3Cpath d="M18.1559 24.077L25.6624 16.6667L24.5455 15.5641L18.1559 21.8718L15.065 18.8205L13.9481 19.9231L18.1559 24.077ZM11.9481 29.2308C11.5325 29.2308 11.1689 29.0769 10.8572 28.7693C10.5455 28.4616 10.3896 28.1026 10.3896 27.6923V12.3077C10.3896 11.8975 10.5455 11.5385 10.8572 11.2308C11.1689 10.9231 11.5325 10.7693 11.9481 10.7693H27.5325C27.9481 10.7693 28.3117 10.9231 28.6234 11.2308C28.9351 11.5385 29.0909 11.8975 29.0909 12.3077V27.6923C29.0909 28.1026 28.9351 28.4616 28.6234 28.7693C28.3117 29.0769 27.9481 29.2308 27.5325 29.2308H11.9481ZM11.9481 27.6923H27.5325V12.3077H11.9481V27.6923Z" fill="%2301504A"/%3E%3C/svg%3E')
                            .btn_del
                                +whp(40px, 40px, 0)
                                img
                                    +whm(30px, 30px, 0)
            .completing_task 
                .progress
                    +whm(320px, 20px, 0px)
                    p 
                        font-size: 30px 
@media (max-width: 329.99px)      
    body
        header
            h1
                +whm(210px, 45px, 0)
                margin-left: 10px
                font-size: 28px
                line-height: 49px
            div 
                +whm(45px, 45px, 0)
                background-image: url(../image/logo45.svg)
                background-repeat: no-repeat
        main 
            .inp_forms
                margin-top: 25px
                .inp
                    +whp(260px, 45px, 0px)
                    padding-left: 9px
                    font-size: 18px
                    border-width: 3px
                div
                    .add
                        width: 200px
                    .btn 
                        +whp(45px, 45px, 0)
                        border-width: 3px
                        img 
                            +whm(25px, 25px, 0)
            .task-block
                .task-list
                    border-width: 3px 
                    +whp(260px, 267px, 4px)  
                    &::-webkit-scrollbar 
                        width: 5px
                        
                    .task-board
                        .li 
                            .task
                                +whm(150px, 40px, 0)
                                margin-right: 5px
                                border-left-width: 10px
                                margin-bottom: 13px
                                &.green
                                    border-left-width: 10px
                            .btn_del
                                +whm(40px, 40px, 0)
                                margin-left: 5px
                                img
                                    +whp(30px, 30px, 0)
            .completing_task 
                    .progress
                        width: 260px
                    p 
                        font-size: 24px
                        margin-top: 0

