@import fonts

// Миксины
=font_style($family, $style, $weight, $size, $height, $spacing)
    font-family: $family
    font-style: $style
    font-weight: $weight
    font-size: $size
    line-height: $height
    letter-spacing: $spacing

=block_design($widht, $height, $radius)
    width: $widht
    height: $height
    border: 5px solid #815F34  
    border-radius: $radius
*
    margin: 0
     
body 
    margin-top: 40px
    box-sizing: border-box
    display: flex
    flex-direction: column
    align-items: center
    header
        display: flex
        justify-content: center
        h1 
            +font_style('Joti One', normal, 400, 64px, 85px, 0.03em)
            width: 446px
            height: 79px
            margin-left: 33px
    main 
        .inp_forms
            margin-top: 66px
            display: flex
            flex-direction: column  
            .inp 
                +font_style('Jost', normal, 500, 32px, 46px, none)
                +block_design(753px, 63px, 15px)
                margin-bottom: 13px
                margin-right: 49px 
                padding-left: 15px
            div 
                display: flex
                align-items: center
                .add 
                    width: 619px
                    margin-bottom: 0 
                    margin-right: 23px
                .btn 
                    +block_design(109px, 63px, 15px)
                    background: white
            
        .task-block
            display: flex
            margin-top: 38px
            align-items: center
            margin-bottom: 38px
            .task-list 
                +block_design(753px, 509px, 5px)
                margin-right: 20px
                padding: 36px
                display: flex
                overflow: scroll
                align-self: center
                box-sizing: border-box
                .task-board 
                    padding-left: 0
                    .li 
                        display: flex
                        list-style-type: none
                        .task
                            +font_style('Jost', normal, 500, 22px, 30px, none)
                            +block_design(427px, 75px, 10px)
                            display: inline-block
                            background-color: #F6F6F5
                            border: 0px solid white
                            border-left: 15px solid #A13822
                            margin: 0 24px 43px 0
                            &.green 
                                border-left: 15px solid #01504A
                        .btn_del
                            +block_design(75px, 75px, 10px)
                            background-color: #F6F6F5
                            border: none
                            padding: 15px
                            margin-left: 24px
                        .check_input  
                            appearance: none
                            -webkit-appearance: none
                            -moz-appearance: none
                        .check_box 
                            display: inline-block
                            width: 75px
                            height: 75px
                            background-image: url(/image/check_none.svg)

                        .check_input:checked+.check_box 
                            background: url(/image/check_box.svg)  
                            
                
            .img_vibes
                background-image: url("/image/bg-disp-tasks.png")
                border-radius: 5px 
                width: 173px
                height: 516px
        .progress 
            display: flex
            flex-direction: column
            align-items: center
            progress
                width: 946px
                height: 50px
            p 
                +font_style('Joti One', normal, 400, 36px, 48px, 0.03em)
                
            
        
        
        
        
    
    
        
    

    
    