@import fonts

// Миксины
=font_style($family, $style, $weight, $size, $height, $spacing)
    font-family: $family
    font-style: $style
    font-weight: $weight
    font-size: $size
    line-height: $height
    letter-spacing: $spacing

=block_design($widht, $height, $radius)
    width: $widht
    height: $height
    border: 5px solid #815F34  
    border-radius: $radius
*
    margin: 0
     
body 
    margin-top: 40px
    box-sizing: border-box
    display: flex
    flex-direction: column
    align-items: center
    header
        display: flex
        justify-content: center
        h1 
            +font_style('Joti One', normal, 400, 64px, 85px, 0.03em)
            width: 446px
            height: 79px
            margin-left: 33px
    main 
        .inp_forms
            margin-top: 66px
            display: flex
            flex-direction: column  
            .inp 
                +font_style('Jost', normal, 500, 32px, 46px, none)
                +block_design(753px, 63px, 15px)
                margin-bottom: 13px
                margin-right: 49px 
                padding-left: 15px
            div 
                display: flex
                align-items: center
                .add 
                    width: 619px
                    margin-bottom: 0 
                    margin-right: 23px
                .btn 
                    +block_design(109px, 63px, 15px)
                    background: white
            
        .task-block
            display: flex
            margin-top: 38px
            align-items: center
            margin-bottom: 38px
            .task-list 
                +block_design(753px, 509px, 5px)
                margin-right: 20px
                
            .img_vibes
                background-image: url("/image/bg-disp-tasks.png")
                border-radius: 5px 
                width: 173px
                height: 516px
        .progress 
            display: flex
            flex-direction: column
            align-items: center
            progress
                width: 946px
                height: 50px
            p 
                +font_style('Joti One', normal, 400, 36px, 48px, 0.03em)
                
            
        
        
        
        
    
    
        
    

    
    